.model_view_table {
    border: 1px solid #D1D1D1;
    font-size: 9px;
    width: 100%;
    margin-bottom: 2px;
}

.model_view_table .model_view_table_left {
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    width: 1px;
}

.model_view_table td {
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    padding: 2px 3px;
}

.model_view_table input, .model_view_table select, .model_view_table textarea {
    font-size: 9px;
    height: auto;
    line-height: 1;
    padding: 4px;
}

.model_view_table .model_view_table_checkbox_display {
    margin: 2px;
    width: auto;
}