//border radiuses
@border-radius-small: 1px;
@border-radius-base: 2px;
@border-radius-large: 3px;

@hr-border: @gray-light;

//giving main components a shadow
.well, .panel, .breadcrumb {
  .box-shadow(0 0 10px -6px @gray-darker);
}
//background for body
body {
  background: url("/Core/Themes/extorio-admin/images/bg.jpg") no-repeat fixed center top @brand-info;
}