@import "/Core/Assets/bootstrap-select/less/bootstrap-select.less";
//
//Layout system
//
.layout_wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
  &:extend(.clearfix all);
}

.layout_row {
  margin-left: (@grid-gutter-width / -2);
  margin-right: (@grid-gutter-width / -2);
  position: relative;
  &:extend(.clearfix all);
}

.layout_edit_menu {
  cursor: move;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px;
  margin: 0;
  opacity: 0.3;
}

.layout_edit_menu:hover,
.layout_row:hover > .layout_edit_menu,
.layout_cell:hover > .layout_edit_menu {
  overflow: visible;
  z-index: @zindex-modal-background;
  opacity: 1;
}

.layout_row > .layout_edit_menu {
  background: @brand-danger;
  bottom: -28px;
  left: 0;
  right: 0;
}

.layout_cell > .layout_edit_menu {
  background: @brand-primary;
  top: 0;
  left: 15px;
  right: 15px;
}

.layout_edit_menu_resizeleft,
.layout_edit_menu_resizeright {
  cursor: e-resize;
  position: absolute;
  width: 15px;
  background: @gray-lighter;
  top: 0;
  bottom: 0;
}

.layout_edit_menu_resizeleft {
  left: 0;
}

.layout_edit_menu_resizeright {
  right: 0;
}

.layout_edit_menu_info {
  cursor: none;
  pointer-events: none;
}

//when spacing is disabled on a row, any contained rows and cells all have no spacing
.layout_row[data-ls-spacing='false'] .layout_row,
.layout_row[data-ls-spacing='false'] .layout_cell_content_outer {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.layout_row[data-ls-editable='true'],
.layout_row[data-ls-editable='true'] > .layout_cell[data-ls-editable='true'] {
  min-height: 100px;
  border: 1px dashed @brand-warning;
}

.layout_row[data-ls-editable='true'] {
  margin-bottom: 28px;
}
.layout_cell[data-ls-editable='true'] {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 28px;
}

.layout_cell_placeholder {
  height: 100%;
  border: 1px dashed @gray-light;
  margin: 0;
  position: absolute;
}
.layout_cell {
  min-width: percentage((1 / @grid-columns));
  position: absolute;
}
.layout_cell_content_outer {
  min-height: 1px;
  position: relative;
  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
}
.layout_row > .layout_cell.ui-draggable-dragging, .layout_row > .layout_cell.ui-resizable-resizing {
  z-index: 100;
}
.layout_row > .layout_cell.ui-draggable-dragging > .layout_cell_content_outer,
.layout_row > .layout_cell.ui-draggable-dragging > .layout_cell_content_outer,
.layout_row > .layout_cell.ui-resizable-resizing > .layout_cell_content_outer,
.layout_row > .layout_cell.ui-resizable-resizing > .layout_cell_content_outer {
  opacity: 0.8;
}
.layout_row > .layout_cell.layout_cell_hover > .ui-resizable-handle,
.layout_row > .layout_cell:hover > .ui-resizable-handle{
  background: @gray-light;
  border-color: @gray;
  opacity: 0.5;
}
.layout_row > .layout_cell[data-ls-width='1'] {
  width: percentage((1 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='1'] {
  left: percentage((1 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-min-width='1'] {
  min-width: percentage((1 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-max-width='1'] {
  max-width: percentage((1 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='2'] {
  width: percentage((2 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='2'] {
  left: percentage((2 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='3'] {
  width: percentage((3 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='3'] {
  left: percentage((3 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='4'] {
  width: percentage((4 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='4'] {
  left: percentage((4 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='5'] {
  width: percentage((5 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='5'] {
  left: percentage((5 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='6'] {
  width: percentage((6 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='6'] {
  left: percentage((6 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='7'] {
  width: percentage((7 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='7'] {
  left: percentage((7 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='8'] {
  width: percentage((8 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='8'] {
  left: percentage((8 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='9'] {
  width: percentage((9 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='9'] {
  left: percentage((9 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='10'] {
  width: percentage((10 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='10'] {
  left: percentage((10 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='11'] {
  width: percentage((11 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='11'] {
  left: percentage((11 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-width='12'] {
  width: percentage((12 / @grid-columns));
}
.layout_row > .layout_cell[data-ls-x='12'] {
  left: percentage((12 / @grid-columns));
}

.layout_row[data-ls-collapseall='true']:not([data-ls-editable='true']) {
  height: auto !important;
}

.layout_row[data-ls-collapseall='true']:not([data-ls-editable='true']) > .layout_cell {
  cursor: default;
  height: auto !important;
  position: relative !important;
  width: auto !important;
  left: 0 !important;
  top: auto !important;
}

.layout_cell[data-ls-hideall='true']:not([data-ls-editable='true']) {
  display: none !important;
}

@media (max-width: @screen-lg) {
  //hide all tools
  .layout_edit_menu {
    display: none;
  }

  .layout_row[data-ls-editable='true'] {
    margin-bottom: 0;
  }

  .layout_row > .layout_cell[data-ls-editable='true']{
    padding-top: 0;
  }

  .layout_row[data-ls-editable='true'],
  .layout_row[data-ls-editable='true'] > .layout_cell[data-ls-editable='true'] {
    min-height: 0;
    border: none;
  }

  .layout_row[data-ls-collapselg='true'],
  .layout_row[data-ls-collapseall='true'] {
    height: auto !important;
  }

  .layout_row[data-ls-collapselg='true'] > .layout_cell,
  .layout_row[data-ls-collapseall='true'] > .layout_cell{
    cursor: default !important;;
    height: auto !important;
    position: relative !important;
    width: auto !important;
    left: 0 !important;
    top: auto !important;
  }

  .layout_cell[data-ls-hidelg='true'],
  .layout_cell[data-ls-hideall='true']{
    display: none !important;
  }
}

@media (max-width: @screen-md) {
  .layout_row[data-ls-collapsemd='true'] {
    height: auto !important;
  }

  .layout_row[data-ls-collapsemd='true'] > .layout_cell {
    cursor: default;
    height: auto !important;
    position: relative !important;
    width: auto !important;
    left: 0 !important;
    top: auto !important;
  }

  .layout_cell[data-ls-hidemd='true'] {
    display: none !important;
  }
}

@media (max-width: @screen-sm) {
  .layout_row[data-ls-collapsesm='true'] {
    height: auto !important;
  }

  .layout_row[data-ls-collapsesm='true'] > .layout_cell {
    cursor: default;
    height: auto !important;
    position: relative !important;
    width: auto !important;
    left: 0 !important;
    top: auto !important;
  }

  .layout_cell[data-ls-hidesm='true'] {
    display: none !important;
  }
}

@media (max-width: @screen-xs) {
  .layout_row[data-ls-collapsexs='true'] {
    height: auto !important;
  }

  .layout_row[data-ls-collapsexs='true'] > .layout_cell {
    cursor: default;
    height: auto !important;
    position: relative !important;
    width: auto !important;
    left: 0 !important;
    top: auto !important;
  }

  .layout_cell[data-ls-hidexs='true'] {
    display: none !important;
  }
}

.layout_cell_block_label {
  position: absolute;
  bottom: -1px;
  right: -1px;
  padding: 1px 3px;
  background: @gray-lighter;
  color: @gray-dark;
  border: 1px dashed @gray-dark;
  font-size: 10px;
  opacity: 0.5;
  z-index: @zindex-modal-background;
}

.layout_cell:hover > .layout_cell_block_label,
.layout_cell.layout_cell_hover > .layout_cell_block_label {
  opacity: 1;
}

//
// full page loader
//
.extorio_full_page_loader_outer {
  background: rgba(1,1,1,0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: @zindex-modal-background;
}
.extorio_full_page_loader_inner {
  width: 63px;
  top: 46%;
  position: relative;
  margin: auto;
}
.extorio_full_page_loader_inner img {
  display: block;
  opacity: 0.8;
  width: 100%;
}

//
// gutter helpers
//
.gutter_padding_top {
  padding-top: @grid-gutter-width / 2;
}
.gutter_padding_bottom {
  padding-bottom: @grid-gutter-width / 2;
}
.gutter_padding_left {
  padding-left: @grid-gutter-width / 2;
}
.gutter_padding_right {
  padding-right: @grid-gutter-width / 2;
}
.gutter_padding_horizontal {
  .gutter_padding_left;
  .gutter_padding_right;
}
.gutter_padding_vertical {
  .gutter_padding_top;
  .gutter_padding_bottom;
}
.gutter_padding {
  .gutter_padding_horizontal;
  .gutter_padding_vertical;
}

.gutter_padding_top_half {
  padding-top: @grid-gutter-width / 4;
}
.gutter_padding_bottom_half {
  padding-bottom: @grid-gutter-width / 4;
}
.gutter_padding_left_half {
  padding-left: @grid-gutter-width / 4;
}
.gutter_padding_right_half {
  padding-right: @grid-gutter-width / 4;
}
.gutter_padding_horizontal_half {
  .gutter_padding_left_half;
  .gutter_padding_right_half;
}
.gutter_padding_vertical_half {
  .gutter_padding_top_half;
  .gutter_padding_bottom_half;
}
.gutter_padding_half {
  .gutter_padding_horizontal_half;
  .gutter_padding_vertical_half;
}

.gutter_padding_top_double {
  padding-top: @grid-gutter-width;
}
.gutter_padding_bottom_double {
  padding-bottom: @grid-gutter-width;
}
.gutter_padding_left_double {
  padding-left: @grid-gutter-width;
}
.gutter_padding_right_double {
  padding-right: @grid-gutter-width;
}
.gutter_padding_horizontal_double {
  .gutter_padding_left_double;
  .gutter_padding_right_double;
}
.gutter_padding_vertical_double {
  .gutter_padding_top_double;
  .gutter_padding_bottom_double;
}
.gutter_padding_double {
  .gutter_padding_horizontal_double;
  .gutter_padding_vertical_double;
}

.gutter_margin_top {
  margin-top: @grid-gutter-width / 2;
}
.gutter_margin_bottom {
  margin-bottom: @grid-gutter-width / 2;
}
.gutter_margin_left {
  margin-left: @grid-gutter-width / 2;
}
.gutter_margin_right {
  margin-right: @grid-gutter-width / 2;
}
.gutter_margin_horizontal {
  .gutter_margin_left;
  .gutter_margin_right;
}
.gutter_margin_vertical {
  .gutter_margin_top;
  .gutter_margin_bottom;
}
.gutter_margin {
  .gutter_margin_horizontal;
  .gutter_margin_vertical;
}

.gutter_margin_top_half {
  margin-top: @grid-gutter-width /4;
}
.gutter_margin_bottom_half {
  margin-bottom: @grid-gutter-width /4;
}
.gutter_margin_left_half {
  margin-left: @grid-gutter-width /4;
}
.gutter_margin_right_half {
  margin-right: @grid-gutter-width /4;
}
.gutter_margin_horizontal_half {
  .gutter_margin_left_half;
  .gutter_margin_right_half;
}
.gutter_margin_vertical_half {
  .gutter_margin_top_half;
  .gutter_margin_bottom_half;
}
.gutter_margin_half {
  .gutter_margin_horizontal_half;
  .gutter_margin_vertical_half;
}

.gutter_margin_top_double {
  margin-top: @grid-gutter-width;
}
.gutter_margin_bottom_double {
  margin-bottom: @grid-gutter-width;
}
.gutter_margin_left_double {
  margin-left: @grid-gutter-width;
}
.gutter_margin_right_double {
  margin-right: @grid-gutter-width;
}
.gutter_margin_horizontal_double {
  .gutter_margin_left_double;
  .gutter_margin_right_double;
}
.gutter_margin_vertical_double {
  .gutter_margin_top_double;
  .gutter_margin_bottom_double;
}
.gutter_margin_double {
  .gutter_margin_horizontal_double;
  .gutter_margin_vertical_double;
}
//
// froala image margins and fixes
//
img.fr-fir {
  .gutter_margin_left;
  .gutter_margin_vertical_half;
  vertical-align: top;
}
img.fr-fil {
  .gutter_margin_right;
  .gutter_margin_vertical_half;
  vertical-align: top;
}
img.fr-dib {
  margin: auto;
  display: block;
  float: none;
  vertical-align: top;
  .gutter_margin_vertical_half;
}
img.fr-dii {
  margin: auto;
  display: inline-block;
  float: none;
  .gutter_margin_vertical_half;
}

//
// carousel custom stuff
//
.carousel-caption.carousel-caption-custom {
  top: 20px;
  bottom: 20px;
  text-align: left;
}

.carousel-indicators.carousel-hide-indicators {
  display: none;
}

// Scale up controls for tablets and up
@media screen and (min-width: @screen-sm-min) {
  .carousel-caption.carousel-caption-custom {
    padding-top: 30px;
  }
}

//extorio_progress_bar_top
#extorio_progress_bar_top {
  .border-bottom-radius(0);
  .border-top-radius(0);
  height: 5px;
  left: 0;
  margin: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: @zindex-modal-background;
}

//fixing tab marings
.tab-content {
  .gutter_margin_top;
}

.extorio_searchselect .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
}

.extorio_searchselect .extorio_selectsearch_display {
  width: 100%;
  text-align: left;
}

.extorio_searchselect_menu {
  min-width: 100%;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

//search select input
.extorio_searchselect_menu .input-group {
  padding: 0px 6px;
  margin-bottom: 6px;
}

.extorio_searchselect_menu > li > p {
  .text-muted;
  font-size: @font-size-small;
  padding: 3px 20px;
  margin: 0;
}